* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    padding: 20px;
}

table {
    width: 100%;
    border: 2px solid skyblue;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: skyblue;
    color: black;
    font-weight: bold;
}

thead th {
    text-align: center;
}

.title {
    padding: 10px;
    border-bottom: 1px solid skyblue;
}

th, td {
    padding: 10px;
    border: 1px solid skyblue;
    text-align: left;
}


th.title {
    text-align: center;
}

td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid skyblue;
    text-align: left;
}

td i {
    color: grey;
    font-size: 0.9em;
}

.footer {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
}

button:hover {
    background-color: deepskyblue;
}
